/* inter font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #db5b00;
  --secondary-color: #fff;
  --sub-color: #FAE8DB;
  --light-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #343433;
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

@keyframes loader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader 675ms ease-in-out 600ms infinite;
}

.offer_banner_content {
  flex-wrap: wrap;
  justify-content: center;
}

.offer_banner {
  padding: 15px 0px;
  background: url("../img/top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: top;
  transition: .6s;
}

.offer_banner_wrapper {
  position: relative;
}

.offer_banner_wrapper>button.banner_close {
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  transition: .6s;
  color: var(--secondary-color);
}

.offer_banner_wrapper>button.banner_close:hover svg {
  transform: rotate(180deg);
  transition: .6s;
}

.offer_banner .offer_banner_content>span {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 50px;
  padding: 0px 5px;
}

.offer_banner .offer_banner_content>p {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 600;
}

.offer_banner .offer_banner_content>a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  ;
}

@keyframes hide {
  0% {
    display: flex;
  }

  100% {
    display: none;
  }
}

.scrolling_news_wrapper {
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  overflow: hidden;
}

.scrolling_news {
  background: var(--primary-color);
  padding: 10px 0px;
}

.scrolling_news .scrolling_news_wrapper .single_news>span {
  color: var(--secondary-color);
  font-size: 15px;
}

.scrolling_news .scrolling_news_wrapper .single_news>a {
  font-size: 14px;
  text-wrap: nowrap;
  color: var(--secondary-color);
  text-decoration: none;
  transition: .6s;
}

.scrolling_news .scrolling_news_wrapper:hover .single_news {
  animation-play-state: paused;
}

.single_news {
  animation: title_anim 5s linear infinite;
}

.scrolling_news .scrolling_news_wrapper .single_news>a:hover {
  color: #f7ddcb;
  transition: .6s;
}

@keyframes title_anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.top_header {
  border-bottom: 1px solid #f0f0f0;
}

.top_header .top_header_wrapper .left .social_icon>a {
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: .6s;
  box-sizing: border-box;
}

.top_header .top_header_wrapper .left .social_icon>a:hover {
  border: 1px solid var(--primary-color);
  transition: .6s;
  color: var(--primary-color);
  background: var(--secondary-color);
}

.top_header .top_header_wrapper .left .call>span {
  font-size: 14px;
  color: var(--primary-color);
}

.top_header .top_header_wrapper .left .call>p {
  font-size: 14px;
  color: #333;
}

.top_header .top_header_wrapper .right .language,
.top_header .top_header_wrapper .right .currency {
  width: 80px;
  padding: 10px 0px;
  cursor: pointer;
}

.top_header .top_header_wrapper .right {
  font-size: 14px;
}

.top_header .top_header_wrapper .right .item_wrapper .item_dropdown {
  position: absolute;
  width: 150px;
  background: var(--secondary-color);
  padding: 10px 0px;
  bottom: 0;
  margin-bottom: 0;
  transform: translate(0px, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: none;
}

.top_header .top_header_wrapper .right .item_wrapper .item_dropdown.two {
  right: 0;
}

.top_header .top_header_wrapper .right .item_wrapper {
  position: relative;
}

.top_header .top_header_wrapper .right .item_wrapper .item_dropdown>li {
  padding: 5px;
  transition: .6s;
  text-align: center;
  cursor: pointer;
  color: #333;
}

.top_header .top_header_wrapper .right .item_wrapper .item_dropdown>li:hover {
  color: var(--primary-color);
  transition: .6s;
}

.main_header {
  border-bottom: 1px solid var(--light-color);
}

.main_header .main-header_wrapper {
  padding: 15px 0px;
}

.main_header .main-header_wrapper .logo h2,
.mobile_menu_header h2 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: .1rem;
  color: var(--primary-color);
}

ul.category_dropdown {
  padding: 10px;
  background: var(--secondary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  transform: translate(0px, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: none;
}

ul.category_dropdown li {
  padding: 5px;
  font-size: 14px;
  transition: .6s;
  cursor: pointer;
}

ul.category_dropdown li:hover {
  color: var(--primary-color);
  transition: .6s;
}

.main_header .main-header_wrapper .logo h2>span,
.mobile_menu_header h2>span {
  color: #333;
}

.main_header .main-header_wrapper .desktop_searchbar {
  height: 46px;
  width: 450px;
  border-radius: 50px;
  border: 1px solid #db5b0024;
  /* overflow: hidden; */
}

.main_header .main-header_wrapper .desktop_searchbar .select_category {
  width: 30%;
  position: relative;
  height: 100%;
}

.main_header .main-header_wrapper .desktop_searchbar .select_category .category_name {
  width: 100%;
  color: #333;
  height: 100%;
  font-size: 14px;
  padding: 0px 10px;
  padding-left: 15px;
  background: var(--sub-color);
  font-weight: 500;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  cursor: pointer;
}

.main_header .main-header_wrapper .desktop_searchbar form.search_form {
  width: 70%;
  position: relative;
}

.main_header .main-header_wrapper .desktop_searchbar form.search_form>input {
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 10px;
  padding-right: 45px;
  height: 100%;
}

.main_header .main-header_wrapper .desktop_searchbar form.search_form>button {
  height: 40px;
  outline: none;
  border: 1px solid transparent;
  background: var(--primary-color);
  color: var(--secondary-color);
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  font-size: 14px;
  top: 50%;
  transform: translate(0px, -50%);
}

.main_header .main-header_wrapper .header_side_icons>a {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  transition: .6s;
}

.main_header .main-header_wrapper .header_side_icons>a:hover {
  color: var(--primary-color);
  transition: .6s;
}

.top_pick_popup {
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
}

@keyframes slide_right {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-30%, 0px);
    display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    display: flex;
  }
}

@keyframes slide_left {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  100% {

    opacity: 0;
    visibility: hidden;
    transform: translate(-30%, 0px);
  }
}

@keyframes slide_right3 {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  100% {

    opacity: 0;
    visibility: hidden;
    transform: translate(30%, 0px);
  }
}

@keyframes slide_right2 {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

@keyframes slide_out {
  0% {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.top_pick_popup .popup_bg,
.menu_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000070;
}

.top_pick_popup .top_pick_wrapper {
  width: 750px;
  padding: 15px;
  background: white;
  height: calc(100vh - 125px);
  z-index: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_pick_popup .top_pick_wrapper .popup_title>h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.top_pick_popup .top_pick_wrapper .popup_title>p {
  font-size: 13px;
  color: #666;
}

.top_pick_popup .top_pick_wrapper .popup_title {
  margin-bottom: 20px;
}

.top_pick_popup .top_pick_wrapper .popup_product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_img {
  height: 200px;
  margin: auto;
  overflow: hidden;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product:hover .product_img img {

  transform: scale(1.09);
  transition: .6s;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: .6s;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content>h3 a {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 0;
  display: inline-block;
  line-height: 1.5rem;
  color: #333;
  transition: .6s;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content>h3 a:hover {
  color: var(--primary-color);
  transition: .6s;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content .rating {
  font-size: 12px;
  color: var(--primary-color);
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content .review_div p {
  font-size: 12px;
  margin-bottom: 0;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content .review_div {
  margin-bottom: 5px;
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content .price>span {
  font-size: 17px;
  font-weight: 700;
  color: var(--primary-color);
}

.top_pick_popup .top_pick_wrapper .popup_product_container .single_product .product_content .price>del {
  font-size: 17px;
  font-weight: 700;
  color: #999;
}

.top_pick_popup .popup_close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  transition: .6s;
  cursor: pointer;
}

.top_pick_popup .popup_close i {
  transition: .6s;
}

.top_pick_popup .popup_close:hover svg {
  transform: rotate(180deg);
  transition: .6s;
  color: var(--primary-color);
}

.side_cart {
  width: 100%;
  position: fixed;
  right: 0;
  /* background: white; */
  z-index: 999;
  height: 100vh;
  display: none;
}

.side_cart .side_cart_bg {
  background: #00000070;
  width: 100%;
  height: 100%;
  position: absolute;
}

.side_cart .side_cart_wrapper {
  width: 350px;
  background: white;
  position: fixed;
  right: 0;
  display: none;
  flex-direction: column;
  height: 100vh;
}

.side_cart .side_cart_wrapper .cart_header h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.side_cart .side_cart_wrapper .cart_header>span {
  font-size: 20px;
  transition: .6s;
  cursor: pointer;
}

.side_cart .side_cart_wrapper .cart_header>span:hover svg {
  transform: rotate(180deg);
  transition: .6s;
  color: var(--primary-color);
}

.side_cart .side_cart_wrapper .cart_header>span svg {
  transition: .6s;
}

.side_cart .side_cart_wrapper .product_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
  height: calc(100vh - 342px);
  overflow: auto;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product {
  display: flex;
  gap: 10px;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .cart_img {
  width: 30%;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info {
  width: 70%;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info h3 a {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  transition: .6s;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info h3 a:hover {
  transition: .6s;
  color: var(--primary-color);
}

.side_cart .side_cart_wrapper .cart_header {
  padding: 15px 15px;
  border-bottom: 1px solid var(--light-color);
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .remove_btn,
.product_info .edit {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: .6s;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .remove_btn:hover,
.product_info .edit:hover {
  color: var(--primary-color);
  transition: .6s;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info>span {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  display: inline-block;
  margin-bottom: 15px;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity {
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  height: 35px;
  overflow: hidden;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity>button {
  width: 30px;
  height: 100%;
  outline: none;
  border: 1px solid transparent;
  background: white;
  color: #333;
  transition: .6s;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity>button:hover {
  color: var(--primary-color);
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity>input {
  width: 50px;
  height: 100%;
  border: none;
  color: #333;
  outline: none;
  text-align: center;
  font-size: 14px;
}

.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity>input::-webkit-inner-spin-button,
.side_cart .side_cart_wrapper .product_list .single_cart_product .product_info .quantity>input::-webkit-outer-spin-button {
  appearance: none;
}

.side_cart .side_cart_wrapper .cart_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area>p {
  font-size: 14px;
  color: #333;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area .progress_bar {
  position: relative;
  height: 5px;
  background: var(--primary-color);
  border-radius: 50px;
  position: relative;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area .progress_bar span.free_shiping_icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 14px;
  z-index: 1;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area {
  margin-bottom: 20px;
  padding: 0px 10px;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area>p>span {
  color: var(--primary-color);
  font-weight: 500;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_option>button {
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  font-size: 18px;
  color: #333;
  transition: .6s;
  width: 25%;
  padding: 10px 0px;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_option {
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
}

.side_cart .side_cart_wrapper .cart_bottom .cart_option>button:hover {
  background: var(--primary-color);
  color: white;
  transition: .6s;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_count>b {
  font-size: 20px;
  font-weight: 500;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_count {
  padding: 10px;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_count>span {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}

.side_cart .side_cart_wrapper .cart_bottom .cart_btns {
  padding: 10px;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_btns>button {
  font-size: 14px;
  font-weight: 500;
  padding: 13px;
  outline: none;
  border: 1px solid var(--light-color);
  border-radius: 50px;
  color: #333;
  background: var(--secondary-color);
  transition: .6s;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_btns button:last-child {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  transition: .6s;
}

.side_cart .side_cart_wrapper .cart_bottom .cart_btns>button:hover {
  border: 1px solid var(--primary-color);
  transition: .6s;
  color: var(--primary-color);
}

.side_cart .side_cart_wrapper .cart_bottom .cart_btns button:last-child:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: .6s;
}

.side_cart .side_cart_wrapper .cart_bottom .progress_area .progress_bar::after {
  content: " ";
  background-image: linear-gradient(135deg, #fff3 0 25%, #fff0 25% 50%, #fff3 50% 75%, #fff0 75% 100%);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: 1rem 1rem;
  animation: move 2.5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 50px 50px;
  }
}

.popup_div,
.gift_wrap {
  position: absolute;
  z-index: 9;
  background: var(--sub-color);
  bottom: 0;
  width: 350px;
  padding: 15px;
}

.popup_div span {
  font-size: 14px;
  font-weight: 500;
}

.popup_div .note_form {
  width: 100%;
}

.popup_div .note_form>textarea {
  width: 100%;
  border-radius: 20px;
  height: 175px;
  padding: 15px;
  font-size: 14px;
  color: #333;
  outline: none;
  border: 1px solid transparent;
  margin: 15px 0px;
}

.popup_div .note_form>.form_btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup_div .note_form>.form_btns button {
  outline: none;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
  transition: .6s;
  background: var(--secondary-color);
}

.popup_div .note_form>.form_btns button:first-child {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.popup_div .note_form>.form_btns button:first-child:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: .6s;
  border: 1px solid var(--primary-color);
}

.popup_div .note_form>.form_btns button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: .6s;
}

.mini_popup,
.side_cart_wrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.mini_popup_bg1,
.mini_popup_bg2,
.mini_popup_bg3,
.mini_popup_bg4 {
  width: 100%;
  height: 100%;
  background: #ffffff8a;
  position: absolute;
}

.popup_div span:first-child {
  color: var(--primary-color);
  font-size: 16px;
}

.gift_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gift_wrap>span {
  color: var(--primary-color);
}

.gift_wrap>span {
  font-size: 35px;
}

.gift_wrap p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.gift_wrap button {
  width: 100%;
  border: 1px solid transparent;
  background: var(--secondary-color);
  color: #333;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  padding: 13px 0px;
  transition: .6s;
}

.gift_wrap button:not(:last-child) {
  margin-bottom: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid transparent;
}

.gift_wrap button:not(:last-child):hover {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  transition: .6s;
  color: var(--primary-color);
}

.gift_wrap button:hover {
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  transition: .6s;
  color: var(--primary-color);
}

.mini_popup {
  display: none;
}

.gift_mini_popup {
  display: none;
}

.rate_mini_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  display: none;
}

.rate_mini_popup .rate_wrapper {
  position: absolute;
  z-index: 9;
  width: 350px;
  padding: 15px;
  background: var(--sub-color);
  ;
  bottom: 0;
}

.rate_mini_popup .rate_wrapper>div>span {
  font-size: 20px;
  color: var(--primary-color);
}

.rate_mini_popup .rate_wrapper>div>p {
  font-size: 14px;
  color: #333;
  margin-bottom: 0;
  font-weight: 500;
}

.rate_mini_popup .rate_wrapper form.shiping_form .single_input {
  gap: 5px;
  font-size: 14px;
}

.rate_mini_popup .rate_wrapper form.shiping_form .single_input select,
.single_input input,
#cupon_form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
}

.rate_mini_popup .rate_wrapper form.shiping_form .single_input label {
  font-weight: 500;
}

.rate_mini_popup .rate_wrapper form.shiping_form button,
form#cupon_form button {
  outline: none;
  border: 1px solid transparent;
  width: 100%;
  background: var(--secondary-color);
  padding: 13px 0px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  transition: .6s;
}

.rate_mini_popup .rate_wrapper form.shiping_form button:hover,
form#cupon_form button:hover {
  transition: .6s;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.rate_mini_popup .rate_wrapper form.shiping_form button:not(:last-child),
form#cupon_form button:not(:last-child) {
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: .6s;
}

.rate_mini_popup .rate_wrapper form.shiping_form button:not(:last-child):hover,
form#cupon_form button:not(:last-child):hover {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: .6s;
}

.discount_mini_popup {
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 9;
  display: none;
}

.discount_mini_popup .discount_wrapper {
  position: absolute;
  padding: 15px;
  background: var(--sub-color);
  bottom: 0;
  width: 350px;
}

.discount_mini_popup .discount_wrapper form#cupon_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discount_mini_popup .discount_wrapper>div>span {
  color: var(--primary-color);
  font-size: 20px;
}

.discount_mini_popup .discount_wrapper>div>p {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.discount_mini_popup .discount_wrapper>p {
  font-size: 14px;
  margin-bottom: 10px;
}

.discount_mini_popup .discount_wrapper form#cupon_form input {
  margin-bottom: 10px;
}

.copy_coupon {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 49%, 0% 0%);
  width: 100px;
  padding: 3px 0;
  background-color: var(--secondary-color);
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
}

.user_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.user_popup .user_popup_bg {
  width: 100%;
  height: 100%;
  background: #00000070;
  position: absolute;
}

.user_popup .user_popup_wrapper {
  width: 720px;
  height: calc(100% - 100px);
  z-index: 99;
  background: var(--secondary-color);
  border-radius: 20px;
  position: relative;
}

.user_popup .user_popup_wrapper .left_side {
  padding: 15px;
  height: 100%;
  width: 60%;
  position: relative;
  overflow: hidden;
}

.user_popup .user_popup_wrapper .right_side {
  width: 40%;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(219 91 0 / 42%), rgba(219, 91, 0, 0.418)), url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.user_popup .user_popup_wrapper .left_side h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.user_popup .user_popup_wrapper .left_side .by_ref a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--primary-color);
  display: grid;
  place-items: center;
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  transition: .6s;
}

.user_popup .user_popup_wrapper .left_side .by_ref a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: .6s;
}

.user_popup .user_popup_wrapper .left_side span {
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper {
  position: relative;
  width: 100%;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper .single_input {
  position: relative;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 45px;
  transition: .6s;
  overflow: hidden;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper .single_input input {
  font-size: 14px;
  padding: 0px 55px;
  outline: none;
  border: 1px solid var(--sub-color);
  color: #333;
  height: 100%;
  width: 100%;
  transition: .6s;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper .single_input>span {
  position: absolute;
  width: 45px;
  top: 50%;
  transform: translate(0px, -50%);
  left: 0;
  height: 100%;
  background: var(--primary-color);
  display: grid;
  place-items: center;
  color: var(--secondary-color);
}

.user_popup .user_popup_wrapper .left_side .form_wrapper .single_input input:focus .form_wrapper .single_input {
  border: 1px solid var(--primary-color);
  transition: .6s;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper .single_input input:focus {
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  transition: .6s;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper>.register_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper>form button {
  width: 70%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
  transition: .6s;
  background: var(--primary-color);
  margin-top: 15px;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper>form button:hover {
  transition: .6s;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.user_popup .user_popup_wrapper .right_side>h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.user_popup .user_popup_wrapper .right_side>p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.user_popup .user_popup_wrapper .right_side .right_side_btns {
  width: 100%;
  position: relative;
}

.user_popup .user_popup_wrapper .right_side .right_side_btns button {
  outline: none;
  border: 1px solid white;
  border-radius: 50px;
  width: 70%;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  transition: .6s;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
}

.user_popup .user_popup_wrapper .right_side .right_side_btns button:hover {
  color: var(--secondary-color);
  transition: .6s;
  background: transparent;
  backdrop-filter: blur(5px);
}

.user_popu_close {
  font-size: 20px;
  color: var(--primary-color);
  transition: .6s;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: var(--secondary-color);
  z-index: 9;
}

.form_wrapper .login_form {
  display: none;
}

.user_popu_close svg {
  transition: .6s;
}

.user_popu_close:hover svg {
  transform: rotate(180deg);
  transition: .6s;
}

.mobile_search_bar {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.mobile_search_bar .sarch_bar_bg {
  width: 100%;
  height: 100%;
  background: #00000070;
  position: absolute;
}

.mobile_search_bar .search_bar_wrapper {
  background: var(--secondary-color);
  width: 560px;
  height: calc(100% - 100px);
  border-radius: 20px;
  padding: 20px 15px;
  z-index: 9;
  position: relative;
  flex-direction: column;
}

.mobile_search_bar .search_bar_wrapper .sm_search_close:hover svg {
  transform: rotate(180deg);
  transition: .6s;
}

.mobile_search_bar .search_bar_wrapper .sm_search_close:hover svg {
  transition: .6s;
}

.mobile_search_bar .search_bar_wrapper .sm_search_close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.mobile_search_bar .search_bar_wrapper .search_bar {
  position: relative;
}

.mobile_search_bar .search_bar_wrapper .search_bar select {
  width: 135px;
  outline: none;
  border: 1px solid transparent;
  background: var(--sub-color);
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.mobile_search_bar .search_bar_wrapper .search_bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--sub-color);
  height: 40px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_filed {
  height: 100%;
  position: relative;
  width: calc(100% - 135px);
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_filed>button {
  font-size: 14px;
  color: var(--secondary-color);
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  right: 3px;
  outline: none;
  border: 1px solid transparent;
  width: 34px;
  height: 34px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: var(--primary-color);
}

.mobile_search_bar .search_bar_wrapper .search_bar_filed>input {
  height: 100%;
  border: 1px solid transparent;
  padding: 0px 15px;
  width: 100%;
  padding-right: 35px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 14px;
  color: #333;
  transition: .6s;
  outline: none;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container {
  margin-top: 15px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div {
  padding: 15px 0px;
  border-bottom: 1px solid #f0f0f0;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div>h4 {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .recent_searh>span {

  background: #f0f0f0;
  border-radius: 50px;
  padding: 2px 10px;

  transition: 0.2s;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .recent_searh>span>a {
  font-size: 13px;
  text-decoration: none;
  color: #333;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .recent_searh>span>svg {
  cursor: pointer;
  transition: 0.2s;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .recent_searh>span>svg:hover {
  color: var(--primary-color);
  transition: 0.2s;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .recent_searh>span:hover {
  transform: scale(1.03);
  transition: .2s;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .search_top_product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .search_top_product .top_single_product .tp_img {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #f0f0f0;
  border-radius: 50%;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .search_top_product .top_single_product .tp_info>a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: .6s;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .search_top_product .top_single_product .tp_info>a:hover {
  color: var(--primary-color);
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .search_top_product .top_single_product .tp_seal {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-weight: 500;
  height: 20px;
  padding: 0px 10px;
  background: var(--sub-color);
  border-radius: 50px;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_div .tags_container>a {
  font-size: 13px;
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 50px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_menu>a {
  font-size: 14px;
  color: #666;
}

.mobile_search_bar .search_bar_wrapper .search_bar_container .down_menu {
  position: absolute;
  bottom: 0;
  padding: 20px 10px;
}

.user_popup .user_popup_wrapper .left_side .form_wrapper>.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login_wrapper {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: white;
  visibility: hidden;
  opacity: 0;
}

.register_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.signup_tab {
  position: absolute;
  display: none;
}

.bottom_header .category_container>button {
  outline: none;
  border: 1px solid transparent;
  background: var(--sub-color);
  padding: 6px;
  font-size: 20px;
  width: 45px;
  color: var(--primary-color);
}

.bottom_header ul.main_menu>li>a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  transition: .6s;
  display: flex;
  align-items: center;
  gap: 5px;
}

ul.main_menu {
  margin: 0px 20px;
}

.bottom_header ul.main_menu>li>a:hover {
  color: var(--primary-color);
  transition: .6s;
}


.bottom_header .bottom_right .single_option_link>span {
  font-size: 18px;
  color: #333;
}

.bottom_header .bottom_right .single_option_link>a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  transition: .6s;
}

.bottom_header .bottom_right .single_option_link>a:hover {
  color: var(--primary-color);
  transition: .6s;
}

/* accordian style */
.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  display: block;
  font-weight: normal;
  color: black;
  cursor: pointer;
}

.accordion-content {
  border: 1px solid var(--primary-color);
  padding: 10px;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 12px;
  height: 2px;
  transform: rotate(90deg);
  background: black;
  transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 12px;
  height: 2px;
  background: #333;
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
  background: var(--secondary-color);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
  background: var(--primary-color);
}

.accordion-content a {
  display: block;
  padding: 5px 0px;
  color: var(--primary-color);
  transition: .6s;
  text-decoration: none;
}

.accordion-content a:hover {
  color: #333;
  transition: .6s;
}


.accordion-container .menu_item {
  color: var(--primary-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  display: block;
  transition: .6s;
  text-decoration: none;
}

.accordion-container .menu_item:hover {
  color: var(--secondary-color);
  transition: .6s;
  background: var(--primary-color);
}

.accordion-container .accordion-title.open {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.accordion-container .accordion-title:hover::before {
  background: var(--secondary-color);
}

.accordion-container .accordion-title:hover::after {
  background: var(--secondary-color);
}

.mobile_menu {
  width: 250px;
  background: var(--secondary-color);
  position: fixed;
  height: 100vh;
  padding: 10px;
  z-index: 999;
}

.mobile_menu {
  width: 250px;
  background: var(--secondary-color);
  position: fixed;
  height: 100vh;
  padding: 10px;
}

.mobile_menu_body {
  margin: 20px 0px;
}

.mobile_menu_header {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid var(--light-color);
}

button.menu_close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 20px;
  background: var(--light-color);
  color: #333;
  transition: .6s;
}

button.menu_close:hover svg {
  transform: rotate(180deg);
  transition: .6s;
  color: var(--primary-color);
}

button.menu_close svg {
  transition: .6s;
}

.mobile_menu_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
}

.mobile_menu_wrapper {
  width: 100%;
}

button.mobile_menu_btn {
  border: 1px solid transparent;
  background: transparent;
  font-size: 20px;
  color: #333;
  transition: .6s;
  padding: 2px;
}

button.mobile_menu_btn:hover {
  transition: .6s;
  color: var(--primary-color);
}

.bottom_header ul.main_menu>li>a+ul.dropdown_menu {
  font-size: 14px;
  padding: 10px;
  position: absolute;
  width: 150px;
  background: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  bottom: 0;
  transform: translate(0px, 110%);
  visibility: hidden;
  opacity: 0;
}

.bottom_header ul.main_menu>li {
  position: relative;
}

.bottom_header ul.main_menu>li>a+ul.dropdown_menu>li>a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  margin: 10px 0px;
  display: block;
  transition: .6s;
  text-align: center;
}

.bottom_header ul.main_menu>li>a+ul.dropdown_menu>li>a:hover {
  color: var(--primary-color);
  transition: .6s;
}
.bottom_header ul.main_menu>li:hover ul.dropdown_menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 100%);
  transition: .6s;
}














/**responsive code**/
@media only screen and (max-width: 667px) {
  .user_popu_close {
    right: 20px;
    top: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
  }

  .user_popup .user_popup_wrapper {
    width: calc(100% - 40px);
    display: block !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .user_popup .user_popup_wrapper .right_side .right_side_btns button {
    width: 200px;
  }

  .user_popup .user_popup_wrapper::-webkit-scrollbar {
    width: 7px;
  }

  .user_popup .user_popup_wrapper .right_side .right_side_btns button {
    width: 200px;
  }

  .user_popup .user_popup_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 50px;
  }

  .user_popup .user_popup_wrapper::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .user_popup .user_popup_wrapper .left_side {
    width: 100%;
  }

  .user_popup .user_popup_wrapper .right_side {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .user_popup .user_popup_wrapper .right_side>h3 {
    font-size: 30px;
  }

  .mobile_search_bar .search_bar_wrapper {
    width: calc(100% - 50px);
  }

  .user_popup .user_popup_wrapper .right_side .right_side_btns {
    margin-top: 15px;
  }
}