
:root{
    --primary-color : #2B38D1;
    --secondary-color: #fff;
}
*{
    margin: 0;
    padding: 0;
}

.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #343433;
    z-index: 999;
    visibility: visible;
    opacity: 1;
}
@keyframes loader {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .square {
    background: #ddd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
  }
  
  #sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader 675ms ease-in-out 0s infinite alternate;
  }
  
  #sq2 {
    margin-top: -25px;
    animation: loader 675ms ease-in-out 75ms infinite alternate;
  }
  
  #sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader 675ms ease-in-out 150ms infinite;
  }
  
  #sq4 {
    margin-left: -25px;
    animation: loader 675ms ease-in-out 225ms infinite;
  }
  
  #sq5 {
    animation: loader 675ms ease-in-out 300ms infinite;
  }
  
  #sq6 {
    margin-left: 15px;
    animation: loader 675ms ease-in-out 375ms infinite;
  }
  
  #sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader 675ms ease-in-out 450ms infinite;
  }
  
  #sq8 {
    margin-top: 15px;
    animation: loader 675ms ease-in-out 525ms infinite;
  }
  
  #sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader 675ms ease-in-out 600ms infinite;
  }

.offer_banner {
    padding: 10px 0px;
    background: var(--primary-color);
    transform-origin: top;
    transition: .6s;
}
.offer_banner_wrapper{
    position: relative;
}
.offer_banner_wrapper > button.banner_close{
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    transition: .6s;
    color: var(--secondary-color);
}
.offer_banner_wrapper > button.banner_close:hover svg {
    transform: rotate(180deg);
    transition: .6s;
}
.offer_banner .offer_banner_content > span {
    font-size: 14px;
    font-weight: 500;
    color: black;
    background: white;
    border-radius: 50px;
    padding: 0px 5px;
}

.offer_banner .offer_banner_content > p {
    font-size: 14px;
    color: var(--secondary-color);
}

.offer_banner .offer_banner_content > a {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
   ;
}
@keyframes hide {
    0%{
        display: flex;
    }
    100%{
        display: none;
    }
}
.scrolling_news_wrapper {
    mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    overflow: hidden;
}
.scrolling_news {
    background: var(--primary-color);
    padding: 10px 0px;
}

.scrolling_news .scrolling_news_wrapper .single_news > span {
    color: var(--secondary-color);
    font-size: 15px;
}

.scrolling_news .scrolling_news_wrapper .single_news > a {
    font-size: 15px;
    text-wrap: nowrap;
    color: var(--secondary-color);
    text-decoration: none;
}
.scrolling_news .scrolling_news_wrapper:hover .single_news{
    animation-play-state: paused;
}
.single_news{
    animation: title_anim 5s linear infinite;
}

@keyframes title_anim {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
